#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;
  
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

@media (max-width: 767px) {
  .tablet-height {
    height: 80vh; 
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .tablet-height {
    height: 50vh; 
  }
}

/* For laptop screen (1024px and above) */
@media (min-width: 1024px) {
  .tablet-height {
    height: 70vh;
  }
}
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px; 
    padding-left: 15px;
    padding-right: 20px;
  }
}